* {
  box-sizing: border-box;
}

html {
  color: #060b35;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.header {
  padding: 0 50px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px #0000000d;
}

.header-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav {
  position: relative;
}

.nav__list {
  text-transform: uppercase;
  height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: 20px;
  list-style-type: none;
  display: flex;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #060b35;
  line-height: 60px;
  text-decoration: none;
}

.nav__item:hover .nav__link, .is-active {
  color: #00acdc;
}

.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 37px;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
}

.main {
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  gap: 46px 48px;
  max-width: 944px;
  margin: 0 auto;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 768px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1024px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 32px 16px 16px;
  transition: all .3s;
  display: flex;
}

.card__img {
  height: 134px;
  margin: 0 auto 40px;
}

.card:hover {
  transform: scale(1.2);
}

.card__title {
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__product-code {
  color: #616070;
  margin: 0 0 16px;
  font-size: 10px;
  line-height: 14px;
}

.card:hover .card__title {
  color: #34568b;
}

.card__reviews {
  justify-content: space-between;
  margin-bottom: 24px;
  display: flex;
}

.card__stars {
  gap: 4px;
  display: flex;
}

.card__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.card__stars--0 .card__star:nth-child(-n), .card__stars--1 .card__star:nth-child(-n+1), .card__stars--2 .card__star:nth-child(-n+2), .card__stars--3 .card__star:nth-child(-n+3), .card__stars--4 .card__star:nth-child(-n+4), .card__stars--5 .card__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}

.card__reviews-number {
  justify-self: flex-end;
  align-items: center;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  display: flex;
}

.card__price {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
}

.card__price-text {
  color: #616070;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price-value {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__button {
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  display: flex;
}

.card__button-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

.card__button:hover {
  cursor: pointer;
  background-color: #fff;
}

.card__button:hover .card__button-text {
  color: #00acdc;
}

/*# sourceMappingURL=index.971c2ea4.css.map */
